---
import Layout from '../layouts/Layout.astro'
import BatteryCalculatorWrapper from '@/components/battery-calculator-wrapper'
---

<Layout>
    <body class="min-h-screen">
        <BatteryCalculatorWrapper client:load />
    </body>
</Layout>
