---
import Layout from '../layouts/Layout.astro'
import BatteryCalculator from '@/components/battery-timeline'
---

<Layout>
    <body class="min-h-screen">
        <!-- <BatteryTimeline /> -->
        <BatteryCalculator client:load />
    </body>
</Layout>
